.wrapper {
  background-color: lightgray;
  width: 15rem;
  font-size: 0.6em;
  border-radius: 0.5em;
  padding-bottom: 0.5em;
}
.wrapper header {
  border-radius: 0.5em;
  padding-top: 0;
  padding-bottom: 0;
}
.calendar {
  padding-left: 0.2em;
  padding-right: 0.2em;
}
.calendar .week-days,
.calendar .days {
  padding-left: 0;
}
/*Create grid with seven columns, one culumn for each week-day*/
.calendar ul {
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
/*Set style to where month and year show up*/
.calendar-navigation {
  color: white;
  font-size: 1.5em;
  display: flex;
  flex-wrap: nowrap;
}
/*Make initials of week-days red*/
.week-days {
  color: red;
}

.icons {
  padding: 0.2em;
}
/*Change background and pointer of arrow icon when hovering over*/
.icons:hover {
  background-color: lightgray;
  border-radius: 50%;
  cursor: pointer;
}

.days li {
  padding: 0.5em;
}
/*Change backgound and pointer when hovering over a number*/
.days li:hover {
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
/*If a date on calendar is same as today change color to red*/
.days .today {
  color: red;
}
/*If a day doesn't belong to this color make them gray*/
.days .inactive {
  color: gray;
}
/*Upon clicking on a day which belongs to this month highlight it*/
.days .active {
  background-color: gray;
  border-radius: 50%;
}
